# Python
__pycache__/
*.pyc
*.pyo

# Virtual Env
myenv/
venv/
.venv/

# Environment
.env

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Alembic
alembic/versions/__pycache__/

# Generated exports
exports/