fastapi
uvicorn[standard]
sqlalchemy
psycopg[binary]
alembic
pydantic
pydantic-settings
python-dotenv
langgraph
langchain
langchain-groq
groq
python-multipart
python-docx
reportlab
langgraph-checkpoint-postgres
psycopg2