fastapi
uvicorn[standard]
sqlalchemy
alembic

psycopg[binary]
psycopg-pool

pydantic
pydantic-settings
python-dotenv

langgraph
langgraph-checkpoint-postgres

langchain
langchain-groq
groq

python-multipart
python-docx
reportlab