fastapi
uvicorn[standard]
sqlalchemy

psycopg[binary]
psycopg-pool

pydantic
pydantic-settings
python-dotenv

langgraph
langgraph-checkpoint-postgres

langchain
langchain-groq
groq

python-multipart
python-docx
reportlab
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1

python-multipart
email-validator